.button {
  @include font-options (14px, 17px, bold, $colorText);
  width: 100%;
  height: 51px;
  background-color: $colorBright;
  border: 1px solid $colorBright;
  border-radius: 7px;
  cursor: pointer;

  @media (min-width: $middle) {
    @include font-options (18px, 21px, normal, $colorText);
  }

  @media (min-width: $tablet) {
    width: 256px;
    height: 56px;
  }
}
