.discount {
  color: $colorText;
}

.discount__title {
  @include font-options (16px, 19px, bold, $colorSlogan);
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  padding: 40px 0 0 0;

  @media (min-width: $mobile) {
    @include font-options (24px, 28px, bold, $colorSlogan);
    max-width: 350px;
  }

  @media (min-width: $tablet) {
    @include font-options (36px, 40px, bold, $colorSlogan);
    max-width: 550px;
    padding: 60px 0 50px;
  }

  @media (min-width: $desktop) {
    @include font-options (48px, 57px, bold, $colorSlogan);
    padding-top: 115px;
    max-width: 800px;
    text-transform: uppercase;
  }
}

.discount__title > strong {
  color: $colorBright;
}

.discount__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 840px;
  }

  @media (min-width: $desktop) {
    max-width: 1090px;
  }
}

.discount__features {
  text-align: center;
  max-width: 120px;

  @media (min-width: $middle) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
  }
}

.discount__features--left,
.discount__features--right {
  position: absolute;
  top: 110px;


  @media (min-width: $mobile) {
    top: 200px;
  }

  @media (min-width: $desktop) {
    top: 125px;
  }
}

.discount__features--left {
  left: 10px;

  @media (min-width: $small) {
    left: 30px;
  }

  @media (min-width: $mobile) {
    left: 70px;
  }

  @media (min-width: $tablet) {
    left: 30px;
  }

  @media (min-width: $desktop) {
    left: 0;
  }
}


.discount__features--right {
  right: 10px;

  @media (min-width: $small) {
    right: 30px;
  }

  @media (min-width: $mobile) {
    right: 70px;
  }

  @media (min-width: $tablet) {
    right: 30px;
  }

  @media (min-width: $desktop) {
    right: 0;
  }
}

.discount__image-additional {
  display: none;

  @media (min-width: $middle) {
    display: block;
  }
}

.discount__caption {
  @include font-options (14px, 16px, normal, $colorSlogan);

  @media (min-width: $mobile) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $middle) {
    max-width: 120px;
  }

  @media (min-width: $desktop) {
    padding-top: 60px;
  }
}

.discount__caption > span {
  color: $colorBright;
}

.discount__sale {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount__price {
  padding: 30px 0;

  @media (min-width: $tablet) {
    padding-bottom: 20px;
  }
}

.discount__product-image {
  @media (min-width: $desktop) {
    position: relative;
    right: 35%;
    top: 20px;
    transform: rotate(-90deg);
    max-height: 170px;
  }
}

.discount__bonus {
  min-width: 180px;
  margin: 0;
  padding-top: 30px;

  @media (min-width: $mobile) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 43px;
  }

  @media (min-width: $desktop) {
    padding-top: 60px;
  }
}

.discount__note {
  color: $colorBright;
  margin: 0;
  padding: 20px 0;

  @media (min-width: $mobile) {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 30px;
  }

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 28px;
  }

  @media (min-width: $desktop) {
    padding: 10px 0 65px;
  }
}

.discount__button {
  margin-bottom: 50px;

  @media (min-width: $mobile) {
    margin-bottom: 70px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 100px;
  }
}
