.navigation {
  @include font-options(18px, 24px, normal, $colorSlogan);
  color: $colorSlogan;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $middle) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
  }
}

.navigation__burger {
  position: relative;
  order: 3;
  flex-basis: 20%;
  cursor: pointer;

  @media (min-width: $mobile) {
    flex-basis: 11%;
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

.navigation__burger span {
  position: absolute;
  background-color: $colorSlogan;
  width: 30px;
  height: 2px;
  top: 10px;
  border-radius: 1px;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.navigation__burger:hover span,
.navigation__burger:hover::before,
.navigation__burger:hover::after {
  background-color: $colorBright;
}

.navigation__burger::before,
.navigation__burger::after {
  content: "";
  background-color: $colorSlogan;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  border-radius: 1px;
  transition: all 0.4s ease 0s;
}

.navigation__burger::before {
  top: 0;
}

.navigation__burger::after {
  bottom: 8px;
}

.navigation__burger.navigation__burger--active::before,
.navigation__burger.navigation__burger--active::after {
  left: 13px;
  width: 25px;
  background-color: $colorBright;
}

.navigation__burger.navigation__burger--active::before {
  transform: rotate(45deg);
  top: -4px;
}

.navigation__burger.navigation__burger--active::after {
  transform: rotate(-45deg);
  bottom: 2px;
}

.navigation__burger.navigation__burger--active span {
  transform: scale(0);
}

.navigation__options {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    flex-grow: 1;
  }
}

.navigation__burger--active + .navigation__options {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 60px;
  width: 100%;
  left: 0;
  text-align: center;
  background-color: $colorText;
  z-index: 10;
  box-shadow: 1px -4px 0 1px rgba(0, 0, 0, 1);
  border-bottom-left-radius: 5px;

  @media (min-width: $mobile) {
    left: 50%;
    width: 50%;
  }

  @media (min-width: $middle) {
    top: 80px;
  }
}

.navigation__contact {
  @media (min-width: $small) {
    flex-basis: 30%;
  }

  @media (min-width: $mobile) {
    flex-basis: auto;
  }

  @media (min-width: $middle) {
    padding-right: 50px;
  }

  @media (min-width: $tablet) {
    flex-basis: auto;
  }

  @media (min-width: $desktop) {
    flex-basis: 24%;
    text-align: center;
  }
}

.navigation__contact > a {
  text-decoration: none;
  color: inherit;
}


.navigation__contact::after {
  content: url("../img/s-phone.svg");
  display: none;

  @media (min-width: $small) {
    display: block;
    position: relative;
    top: 4px;
  }

  @media (min-width: $mobile) {
    display: none;
  }

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.navigation__phone {
  display: none;

  @media (min-width: $mobile) {
    display: block;
    align-self: center;
  }

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
  }
}

.navigation__phone:hover {
  color: $colorBright;
}

.navigation__phone:active {
  color: #adadad;
}

.navigation__cart {
  width: 50px;
  order: 2;
  flex-basis: 30%;
  z-index: 6;

  @media (min-width: $small) {
    padding-top: 5px;
  }

  @media (min-width: $mobile) {
    flex-basis: 11%;
  }

  @media (min-width: $tablet) {
    flex-basis: auto;
  }

  @media (min-width: $desktop) {
    text-align: center;
  }
}

.cart-amount {
  position: relative;
}

.cart-amount > span {
  text-decoration: none;
  font-size: 12px;
  color: $colorText;
  z-index: 5;
}

.cart-amount::before {
  content: "";
  display: block;
  position: absolute;
  background-color: $colorBright;
  border-radius: 50%;
  top: 20%;
  right: -6px;
  width: 16px;
  height: 16px;
  z-index: -1;
}
