.page {
  margin: 0;
  font-family: $ff;
  background-color: $colorText;
}

.page--burger > .page__main {
  filter: blur(2px);
  transition: all 0.2s ease 0s;
}

.page__header {
  background-color: $colorText;
  height: 60px;
  padding: 0 5%;

  @media (min-width: $middle) {
    height: 80px;
  }
}
